1C-Enterprise linguist-language=1C-Enterprise
ABAP linguist-language=ABAP
ABNF linguist-language=ABNF
AGS-Script linguist-language=AGS-Script
AMPL linguist-language=AMPL
ANTLR linguist-language=ANTLR
API-Blueprint linguist-language=API-Blueprint
APL linguist-language=APL
ASN-1 linguist-language=ASN-1
ASP linguist-language=ASP
ATS linguist-language=ATS
ActionScript linguist-language=ActionScript
Ada linguist-language=Ada
Adobe-Font-Metrics linguist-language=Adobe-Font-Metrics
Agda linguist-language=Agda
Alloy linguist-language=Alloy
Alpine-Abuild linguist-language=Alpine-Abuild
AngelScript linguist-language=AngelScript
Ant-Build-System linguist-language=Ant-Build-System
ApacheConf linguist-language=ApacheConf
Apex linguist-language=Apex
Apollo-Guidance-Computer linguist-language=Apollo-Guidance-Computer
AppleScript linguist-language=AppleScript
Arc linguist-language=Arc
AsciiDoc linguist-language=AsciiDoc
AspectJ linguist-language=AspectJ
Assembly linguist-language=Assembly
Asymptote linguist-language=Asymptote
Augeas linguist-language=Augeas
AutoHotkey linguist-language=AutoHotkey
AutoIt linguist-language=AutoIt
Awk linguist-language=Awk
Ballerina linguist-language=Ballerina
Batchfile linguist-language=Batchfile
Befunge linguist-language=Befunge
Bison linguist-language=Bison
BitBake linguist-language=BitBake
Blade linguist-language=Blade
BlitzBasic linguist-language=BlitzBasic
BlitzMax linguist-language=BlitzMax
Bluespec linguist-language=Bluespec
Boo linguist-language=Boo
Brainfuck linguist-language=Brainfuck
Brightscript linguist-language=Brightscript
Bro linguist-language=Bro
C linguist-language=C
C- linguist-language=C-
C++ linguist-language=C++
C-ObjDump linguist-language=C-ObjDump
C2hs-Haskell linguist-language=C2hs-Haskell
CLIPS linguist-language=CLIPS
CMake linguist-language=CMake
COBOL linguist-language=COBOL
COLLADA linguist-language=COLLADA
CSON linguist-language=CSON
CSS linguist-language=CSS
CSV linguist-language=CSV
CWeb linguist-language=CWeb
Cabal-Config linguist-language=Cabal-Config
Cap-n-Proto linguist-language=Cap-n-Proto
CartoCSS linguist-language=CartoCSS
Ceylon linguist-language=Ceylon
Chapel linguist-language=Chapel
Charity linguist-language=Charity
ChucK linguist-language=ChucK
Cirru linguist-language=Cirru
Clarion linguist-language=Clarion
Clean linguist-language=Clean
Click linguist-language=Click
Clojure linguist-language=Clojure
Closure-Templates linguist-language=Closure-Templates
Cloud-Firestore-Security-Rules linguist-language=Cloud-Firestore-Security-Rules
CoNLL-U linguist-language=CoNLL-U
CoffeeScript linguist-language=CoffeeScript
ColdFusion linguist-language=ColdFusion
ColdFusion-CFC linguist-language=ColdFusion-CFC
Common-Lisp linguist-language=Common-Lisp
Common-Workflow-Language linguist-language=Common-Workflow-Language
Component-Pascal linguist-language=Component-Pascal
Cool linguist-language=Cool
Coq linguist-language=Coq
Cpp-ObjDump linguist-language=Cpp-ObjDump
Creole linguist-language=Creole
Crystal linguist-language=Crystal
Csound linguist-language=Csound
Csound-Document linguist-language=Csound-Document
Csound-Score linguist-language=Csound-Score
Cuda linguist-language=Cuda
Cycript linguist-language=Cycript
Cython linguist-language=Cython
D linguist-language=D
D-ObjDump linguist-language=D-ObjDump
DIGITAL-Command-Language linguist-language=DIGITAL-Command-Language
DM linguist-language=DM
DNS-Zone linguist-language=DNS-Zone
DTrace linguist-language=DTrace
Darcs-Patch linguist-language=Darcs-Patch
Dart linguist-language=Dart
DataWeave linguist-language=DataWeave
Diff linguist-language=Diff
Dockerfile linguist-language=Dockerfile
Dogescript linguist-language=Dogescript
Dylan linguist-language=Dylan
E linguist-language=E
EBNF linguist-language=EBNF
ECL linguist-language=ECL
ECLiPSe linguist-language=ECLiPSe
EJS linguist-language=EJS
EML linguist-language=EML
EQ linguist-language=EQ
Eagle linguist-language=Eagle
Easybuild linguist-language=Easybuild
Ecere-Projects linguist-language=Ecere-Projects
EditorConfig linguist-language=EditorConfig
Edje-Data-Collection linguist-language=Edje-Data-Collection
Eiffel linguist-language=Eiffel
Elixir linguist-language=Elixir
Elm linguist-language=Elm
Emacs-Lisp linguist-language=Emacs-Lisp
EmberScript linguist-language=EmberScript
Erlang linguist-language=Erlang
F- linguist-language=F-
F- linguist-language=F-
FIGlet-Font linguist-language=FIGlet-Font
FLUX linguist-language=FLUX
Factor linguist-language=Factor
Fancy linguist-language=Fancy
Fantom linguist-language=Fantom
Filebench-WML linguist-language=Filebench-WML
Filterscript linguist-language=Filterscript
Formatted linguist-language=Formatted
Forth linguist-language=Forth
Fortran linguist-language=Fortran
FreeMarker linguist-language=FreeMarker
Frege linguist-language=Frege
G-code linguist-language=G-code
GAMS linguist-language=GAMS
GAP linguist-language=GAP
GCC-Machine-Description linguist-language=GCC-Machine-Description
GDB linguist-language=GDB
GDScript linguist-language=GDScript
GLSL linguist-language=GLSL
GN linguist-language=GN
Game-Maker-Language linguist-language=Game-Maker-Language
Genie linguist-language=Genie
Genshi linguist-language=Genshi
Gentoo-Ebuild linguist-language=Gentoo-Ebuild
Gentoo-Eclass linguist-language=Gentoo-Eclass
Gerber-Image linguist-language=Gerber-Image
Gettext-Catalog linguist-language=Gettext-Catalog
Gherkin linguist-language=Gherkin
Git-Attributes linguist-language=Git-Attributes
Git-Config linguist-language=Git-Config
Glyph linguist-language=Glyph
Glyph-Bitmap-Distribution-Format linguist-language=Glyph-Bitmap-Distribution-Format
Gnuplot linguist-language=Gnuplot
Go linguist-language=Go
Golo linguist-language=Golo
Gosu linguist-language=Gosu
Grace linguist-language=Grace
Gradle linguist-language=Gradle
Grammatical-Framework linguist-language=Grammatical-Framework
Graph-Modeling-Language linguist-language=Graph-Modeling-Language
GraphQL linguist-language=GraphQL
Graphviz--DOT- linguist-language=Graphviz--DOT-
Groovy linguist-language=Groovy
Groovy-Server-Pages linguist-language=Groovy-Server-Pages
HAProxy linguist-language=HAProxy
HCL linguist-language=HCL
HLSL linguist-language=HLSL
HTML linguist-language=HTML
HTML+Django linguist-language=HTML+Django
HTML+ECR linguist-language=HTML+ECR
HTML+EEX linguist-language=HTML+EEX
HTML+ERB linguist-language=HTML+ERB
HTML+PHP linguist-language=HTML+PHP
HTML+Razor linguist-language=HTML+Razor
HTTP linguist-language=HTTP
HXML linguist-language=HXML
Hack linguist-language=Hack
Haml linguist-language=Haml
Handlebars linguist-language=Handlebars
Harbour linguist-language=Harbour
Haskell linguist-language=Haskell
Haxe linguist-language=Haxe
HiveQL linguist-language=HiveQL
Hy linguist-language=Hy
HyPhy linguist-language=HyPhy
IDL linguist-language=IDL
IGOR-Pro linguist-language=IGOR-Pro
INI linguist-language=INI
IRC-log linguist-language=IRC-log
Idris linguist-language=Idris
Ignore-List linguist-language=Ignore-List
Inform-7 linguist-language=Inform-7
Inno-Setup linguist-language=Inno-Setup
Io linguist-language=Io
Ioke linguist-language=Ioke
Isabelle linguist-language=Isabelle
Isabelle-ROOT linguist-language=Isabelle-ROOT
J linguist-language=J
JFlex linguist-language=JFlex
JSON linguist-language=JSON
JSON-with-Comments linguist-language=JSON-with-Comments
JSON5 linguist-language=JSON5
JSONLD linguist-language=JSONLD
JSONiq linguist-language=JSONiq
JSX linguist-language=JSX
Jasmin linguist-language=Jasmin
Java linguist-language=Java
Java-Properties linguist-language=Java-Properties
Java-Server-Pages linguist-language=Java-Server-Pages
JavaScript linguist-language=JavaScript
Jison linguist-language=Jison
Jison-Lex linguist-language=Jison-Lex
Jolie linguist-language=Jolie
Jsonnet linguist-language=Jsonnet
Julia linguist-language=Julia
Jupyter-Notebook linguist-language=Jupyter-Notebook
KRL linguist-language=KRL
KiCad-Layout linguist-language=KiCad-Layout
KiCad-Legacy-Layout linguist-language=KiCad-Legacy-Layout
KiCad-Schematic linguist-language=KiCad-Schematic
Kit linguist-language=Kit
Kotlin linguist-language=Kotlin
LFE linguist-language=LFE
LLVM linguist-language=LLVM
LOLCODE linguist-language=LOLCODE
LSL linguist-language=LSL
LTspice-Symbol linguist-language=LTspice-Symbol
LabVIEW linguist-language=LabVIEW
Lasso linguist-language=Lasso
Latte linguist-language=Latte
Lean linguist-language=Lean
Less linguist-language=Less
Lex linguist-language=Lex
LilyPond linguist-language=LilyPond
Limbo linguist-language=Limbo
Linker-Script linguist-language=Linker-Script
Linux-Kernel-Module linguist-language=Linux-Kernel-Module
Liquid linguist-language=Liquid
Literate-Agda linguist-language=Literate-Agda
Literate-CoffeeScript linguist-language=Literate-CoffeeScript
Literate-Haskell linguist-language=Literate-Haskell
LiveScript linguist-language=LiveScript
Logos linguist-language=Logos
Logtalk linguist-language=Logtalk
LookML linguist-language=LookML
LoomScript linguist-language=LoomScript
Lua linguist-language=Lua
M linguist-language=M
M4 linguist-language=M4
M4Sugar linguist-language=M4Sugar
MATLAB linguist-language=MATLAB
MAXScript linguist-language=MAXScript
MQL4 linguist-language=MQL4
MQL5 linguist-language=MQL5
MTML linguist-language=MTML
MUF linguist-language=MUF
Makefile linguist-language=Makefile
Mako linguist-language=Mako
Markdown linguist-language=Markdown
Marko linguist-language=Marko
Mask linguist-language=Mask
Mathematica linguist-language=Mathematica
Maven-POM linguist-language=Maven-POM
Max linguist-language=Max
MediaWiki linguist-language=MediaWiki
Mercury linguist-language=Mercury
Meson linguist-language=Meson
Metal linguist-language=Metal
MiniD linguist-language=MiniD
Mirah linguist-language=Mirah
Modelica linguist-language=Modelica
Modula-2 linguist-language=Modula-2
Modula-3 linguist-language=Modula-3
Module-Management-System linguist-language=Module-Management-System
Monkey linguist-language=Monkey
Moocode linguist-language=Moocode
MoonScript linguist-language=MoonScript
Myghty linguist-language=Myghty
NCL linguist-language=NCL
NL linguist-language=NL
NSIS linguist-language=NSIS
Nearley linguist-language=Nearley
Nemerle linguist-language=Nemerle
NetLinx linguist-language=NetLinx
NetLinx+ERB linguist-language=NetLinx+ERB
NetLogo linguist-language=NetLogo
NewLisp linguist-language=NewLisp
Nextflow linguist-language=Nextflow
Nginx linguist-language=Nginx
Nim linguist-language=Nim
Ninja linguist-language=Ninja
Nit linguist-language=Nit
Nix linguist-language=Nix
Nu linguist-language=Nu
NumPy linguist-language=NumPy
OCaml linguist-language=OCaml
ObjDump linguist-language=ObjDump
Objective-C linguist-language=Objective-C
Objective-C++ linguist-language=Objective-C++
Objective-J linguist-language=Objective-J
Omgrofl linguist-language=Omgrofl
Opa linguist-language=Opa
Opal linguist-language=Opal
OpenCL linguist-language=OpenCL
OpenEdge-ABL linguist-language=OpenEdge-ABL
OpenRC-runscript linguist-language=OpenRC-runscript
OpenSCAD linguist-language=OpenSCAD
OpenType-Feature-File linguist-language=OpenType-Feature-File
Org linguist-language=Org
Ox linguist-language=Ox
Oxygene linguist-language=Oxygene
Oz linguist-language=Oz
P4 linguist-language=P4
PHP linguist-language=PHP
PLSQL linguist-language=PLSQL
PLpgSQL linguist-language=PLpgSQL
POV-Ray-SDL linguist-language=POV-Ray-SDL
Pan linguist-language=Pan
Papyrus linguist-language=Papyrus
Parrot linguist-language=Parrot
Parrot-Assembly linguist-language=Parrot-Assembly
Parrot-Internal-Representation linguist-language=Parrot-Internal-Representation
Pascal linguist-language=Pascal
Pawn linguist-language=Pawn
Pep8 linguist-language=Pep8
Perl linguist-language=Perl
Perl-6 linguist-language=Perl-6
Pic linguist-language=Pic
Pickle linguist-language=Pickle
PicoLisp linguist-language=PicoLisp
PigLatin linguist-language=PigLatin
Pike linguist-language=Pike
Pod linguist-language=Pod
Pod-6 linguist-language=Pod-6
PogoScript linguist-language=PogoScript
Pony linguist-language=Pony
PostCSS linguist-language=PostCSS
PostScript linguist-language=PostScript
PowerBuilder linguist-language=PowerBuilder
PowerShell linguist-language=PowerShell
Processing linguist-language=Processing
Prolog linguist-language=Prolog
Propeller-Spin linguist-language=Propeller-Spin
Protocol-Buffer linguist-language=Protocol-Buffer
Public-Key linguist-language=Public-Key
Pug linguist-language=Pug
Puppet linguist-language=Puppet
Pure-Data linguist-language=Pure-Data
PureBasic linguist-language=PureBasic
PureScript linguist-language=PureScript
Python linguist-language=Python
Python-console linguist-language=Python-console
Python-traceback linguist-language=Python-traceback
QML linguist-language=QML
QMake linguist-language=QMake
Quake linguist-language=Quake
R linguist-language=R
RAML linguist-language=RAML
RDoc linguist-language=RDoc
REALbasic linguist-language=REALbasic
REXX linguist-language=REXX
RHTML linguist-language=RHTML
RMarkdown linguist-language=RMarkdown
RPC linguist-language=RPC
RPM-Spec linguist-language=RPM-Spec
RUNOFF linguist-language=RUNOFF
Racket linguist-language=Racket
Ragel linguist-language=Ragel
Rascal linguist-language=Rascal
Raw-token-data linguist-language=Raw-token-data
Reason linguist-language=Reason
Rebol linguist-language=Rebol
Red linguist-language=Red
Redcode linguist-language=Redcode
Regular-Expression linguist-language=Regular-Expression
Ren-Py linguist-language=Ren-Py
RenderScript linguist-language=RenderScript
Rich-Text-Format linguist-language=Rich-Text-Format
Ring linguist-language=Ring
RobotFramework linguist-language=RobotFramework
Roff linguist-language=Roff
Roff-Manpage linguist-language=Roff-Manpage
Rouge linguist-language=Rouge
Ruby linguist-language=Ruby
Rust linguist-language=Rust
SAS linguist-language=SAS
SCSS linguist-language=SCSS
SMT linguist-language=SMT
SPARQL linguist-language=SPARQL
SQF linguist-language=SQF
SQL linguist-language=SQL
SQLPL linguist-language=SQLPL
SRecode-Template linguist-language=SRecode-Template
STON linguist-language=STON
SVG linguist-language=SVG
Sage linguist-language=Sage
SaltStack linguist-language=SaltStack
Sass linguist-language=Sass
Scala linguist-language=Scala
Scaml linguist-language=Scaml
Scheme linguist-language=Scheme
Scilab linguist-language=Scilab
Self linguist-language=Self
ShaderLab linguist-language=ShaderLab
Shell linguist-language=Shell
ShellSession linguist-language=ShellSession
Shen linguist-language=Shen
Slash linguist-language=Slash
Slice linguist-language=Slice
Slim linguist-language=Slim
Smali linguist-language=Smali
Smalltalk linguist-language=Smalltalk
Smarty linguist-language=Smarty
Solidity linguist-language=Solidity
SourcePawn linguist-language=SourcePawn
Spline-Font-Database linguist-language=Spline-Font-Database
Squirrel linguist-language=Squirrel
Stan linguist-language=Stan
Standard-ML linguist-language=Standard-ML
Stata linguist-language=Stata
Stylus linguist-language=Stylus
SubRip-Text linguist-language=SubRip-Text
SugarSS linguist-language=SugarSS
SuperCollider linguist-language=SuperCollider
Swift linguist-language=Swift
SystemVerilog linguist-language=SystemVerilog
TI-Program linguist-language=TI-Program
TLA linguist-language=TLA
TOML linguist-language=TOML
TXL linguist-language=TXL
Tcl linguist-language=Tcl
Tcsh linguist-language=Tcsh
TeX linguist-language=TeX
Tea linguist-language=Tea
Terra linguist-language=Terra
Text linguist-language=Text
Textile linguist-language=Textile
Thrift linguist-language=Thrift
Turing linguist-language=Turing
Turtle linguist-language=Turtle
Twig linguist-language=Twig
Type-Language linguist-language=Type-Language
TypeScript linguist-language=TypeScript
Unified-Parallel-C linguist-language=Unified-Parallel-C
Unity3D-Asset linguist-language=Unity3D-Asset
Unix-Assembly linguist-language=Unix-Assembly
Uno linguist-language=Uno
UnrealScript linguist-language=UnrealScript
UrWeb linguist-language=UrWeb
VCL linguist-language=VCL
VHDL linguist-language=VHDL
Vala linguist-language=Vala
Verilog linguist-language=Verilog
Vim-script linguist-language=Vim-script
Visual-Basic linguist-language=Visual-Basic
Volt linguist-language=Volt
Vue linguist-language=Vue
Wavefront-Material linguist-language=Wavefront-Material
Wavefront-Object linguist-language=Wavefront-Object
Web-Ontology-Language linguist-language=Web-Ontology-Language
WebAssembly linguist-language=WebAssembly
WebIDL linguist-language=WebIDL
Windows-Registry-Entries linguist-language=Windows-Registry-Entries
World-of-Warcraft-Addon-Data linguist-language=World-of-Warcraft-Addon-Data
X-BitMap linguist-language=X-BitMap
X-Font-Directory-Index linguist-language=X-Font-Directory-Index
X-PixMap linguist-language=X-PixMap
X10 linguist-language=X10
XC linguist-language=XC
XCompose linguist-language=XCompose
XML linguist-language=XML
XPages linguist-language=XPages
XProc linguist-language=XProc
XQuery linguist-language=XQuery
XS linguist-language=XS
XSLT linguist-language=XSLT
Xojo linguist-language=Xojo
Xtend linguist-language=Xtend
YAML linguist-language=YAML
YANG linguist-language=YANG
YARA linguist-language=YARA
YASnippet linguist-language=YASnippet
Yacc linguist-language=Yacc
ZAP linguist-language=ZAP
ZIL linguist-language=ZIL
Zephir linguist-language=Zephir
Zig linguist-language=Zig
Zimpl linguist-language=Zimpl
desktop linguist-language=desktop
eC linguist-language=eC
edn linguist-language=edn
fish linguist-language=fish
mcfunction linguist-language=mcfunction
mupad linguist-language=mupad
nanorc linguist-language=nanorc
nesC linguist-language=nesC
ooc linguist-language=ooc
q linguist-language=q
reStructuredText linguist-language=reStructuredText
sed linguist-language=sed
wdl linguist-language=wdl
wisp linguist-language=wisp
xBase linguist-language=xBase
